name: Build focus.exe

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build
        run: |
          gcc main.c mqtt.c -o focus.exe -lws2_32 -lpsapi

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: focus
          path: focus.exe
